<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list >
    <ion-item  *ngFor="let c of productos | async">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>{{c.Nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h1>{{c.precio}}</h1>
          <img (click)="detalleP(c)" src="{{c.imagen}}"width="50%" height="50%" style="margin-left: 37%;" >
        </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-list>

</ion-content>
