<ion-header>
  <ion-toolbar>
    <ion-title>registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input [(ngModel)]="persona.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>correo:</ion-label>
    <ion-input [(ngModel)]="persona.correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input [(ngModel)]="persona.password"></ion-input>
  </ion-item>

  <ion-button (click)="registrase()">Registrase</ion-button>

</ion-content>
